<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <h1>Details page for <%=details.name%></h1>
   <img src="<%=details.img%>">
    <h3>Favorite food: <%=details.food%></h3>
    <h3>Age: <%=details.age%></h3>
    <h3>Sleeping spots: </h3>
    <ul>
        <%for (var i in details.sleeping_spot){ %>
            <li><%=details.sleeping_spot[i]%></li>
        <% } %>

    </ul>
</body>
</html>